<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Mtg collection!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="search-bar">
            <form method="POST" action="{{ path('mtg_card_searchcard') }}" class="js-sea-search sea-search">
                <input type="search" name="q" placeholder="Zoek kaart in database" autocomplete="off" class="search-input">
            </form>
        </div>
        <header class="header">
            <ul class="navi">
                <li class="search"><a href="#" class="js-header-search-toggle"><i class="fa fa-search"></i></a></li>
                <li><a href="http://127.0.0.1:8000/login">Login</a></li>
            </ul>
        </header>

        <div class="main-content">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
