<div class="col-md-5">
    <img src="{{ asset(card.faces.first.imgUrl) }}">
</div>
<div class="col-md-5">
    <table class="table">
        <tr>
            <td>Naam:</td>
            <td>{{ card.faces.first.name }}</td>
        </tr>
        {% if is_granted('ROLE_USER') %}
            {% if collectedCount > 0 %}
                <tr>
                    <td colspan="2">
                        je hebt deze kaart {{ collectedCount }} keer!
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <a href="{{ path('mtg_collection_addcardtocollection', {'setCode': card.cardSet.code, 'collectionId': card.CollectionId}) }}">Deze heb ik!</a></td>
            </tr>
            <tr>
                <td colspan="2">
                    <form action="{{ path('mtg_deck_addcard') }}" method="POST">
                        <input type="hidden" name="set" value="{{ card.cardSet.code }}">
                        <input type="hidden" name="card" value="{{ card.collectionId }}">
                        Voeg kaart to aan: <select class="form-inline" name="deck">
                            {% for deck in decks %}
                                <option value="{{ deck.id }}" onclick="{{ path('mtg_deck_addcardtodeck', {'deckId': deck.id,'setCode': card.cardSet.code, 'cardCollectionId': card.collectionId}) }}">{{ deck.name }}</option>
                            {% endfor %}
                        </select>
                        <select class="form-inline" name="amount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                        <input type="submit" class="form-inline" value="Voeg toe">
                </td>
            </tr>
        {%  endif %}
        <tr>
            <td>Collectie ID:</td>
            <td>{{ card.collectionId }}</td>
        </tr>
        <tr>
            <td>set:</td>
            <td><img class="symbol" src="{{ card.cardSet.icon }}"> {{ card.cardSet.name }}</td>
        </tr>
        <tr>
            <td>mana:</td>
            <td>
                {{ card.faces.first.manaCost|symbol }}
            </td>
        </tr>
        <tr>
            <td>Rarity:</td>
            <td>{{ card.rarity }}</td>
        </tr>
        <tr>
            <td>type:</td>
            <td>{{ card.faces.first.type }}</td>
        </tr>
        <tr>
            <td>subtype:</td>
            <td>{{ card.faces.first.subtype }}</td>
        </tr>
        <tr>
            <td>inhoudstekst:</td>
            <td>{{ card.faces.first.oracleText|symbol }}</td>
        </tr>
        {% if card.faces.first.flavorText %}
            <tr>
                <td>Extra tekst:</td>
                <td><i>{{ card.faces.first.flavorText }}</i></td>
            </tr>
        {% endif %}
        {% if card.faces.first.power %}
            <tr>
                <td>{% if card.faces.first.type == 'Planeswalker' %}Loyalty{% else %}power{% endif %}:</td>
                <td>{{ card.faces.first.power }}</td>
            </tr>
        {% endif %}
        {% if card.faces.first.toughness %}
            <tr>
                <td>toughness:</td>
                <td>{{ card.faces.first.toughness }}</td>
            </tr>
        {% endif %}
        {% if card.faces.first.colors is not empty %}
            <tr>
                <td>kleuren:</td>
                <td>
                    {% for color in card.faces.first.colors %}
                        <img class="symbol" src="{{ asset('images/symbols/mana/' ~ color ~'.svg') }}">
                    {% endfor %}
                </td>
            </tr>
        {% endif %}
    </table>
</div>